<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BookSleeve" version="1.1.0.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Resque" version="0.2.6" targetFramework="net45" />
  <package id="Resque.RedisClient.Booksleeve" version="0.2.4" targetFramework="net45" />
</packages>